<a href="https://colab.research.google.com/github/dansilverr/Sirius-Exercicios/blob/main/Pandas_Import_Export.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
series = pd.read_excel('2023.xlsx')

In [ ]:
series.shape

(5273, 39)

In [ ]:
series.dtypes

IDInscricao                    int64
IDEscola                       int64
TipoEscola                     int64
CodigoMEC                      int64
Nome                          object
CNPJ                           int64
InscricaoEstadual             object
Endereco                      object
Numero                        object
Complemento                   object
Bairro                        object
Cidade                        object
UF                           float64
CEP                            int64
Telefone                     float64
Email                         object
Site                          object
DataCriacao                   object
NomeResponsavelFinanceiro     object
DataNascimento                object
CPFResponsavel                 int64
EmailResponsavel              object
TelefoneResponsavel           object
CelularResponsavel            object
EnderecoResponsavel           object
NumeroResponsavel             object
ComplementoResponsavel        object
BairroResponsavel             object
CidadeResponsavel             object
UFResponsavel                 object
CEPResponsavel                 int64
NomeResponsavelConcurso       object
EmailResponsavelConcurso      object
LoginEscola                   object
PacoteInscricao                int64
StatusInscricao                int64
DataCriacaoInscricao            bool
Unnamed: 37                   object
Unnamed: 38                     bool
dtype: object

In [ ]:
series.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5273 entries, 0 to 5272
Data columns (total 39 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   IDInscricao                5273 non-null   int64
 1   IDEscola                   5273 non-null   int64
 2   TipoEscola                 5273 non-null   int64
 3   CodigoMEC                  5273 non-null   int64
 4   Nome                       5273 non-null   object
 5   CNPJ                       5273 non-null   int64
 6   InscricaoEstadual          872 non-null    object
 7   Endereco                   5272 non-null   object
 8   Numero                     5267 non-null   object
 9   Complemento                1398 non-null   object
 10  Bairro                     5271 non-null   object
 11  Cidade                     5273 non-null   object
 12  UF                         0 non-null      float64
 13  CEP                        5273 non-null   int64
 14  Telefone                   5273 non-null   float64
 15  Email                      5273 non-null   object
 16  Site                       3010 non-null   object
 17  DataCriacao                5273 non-null   object
 18  NomeResponsavelFinanceiro  5273 non-null   object
 19  DataNascimento             5273 non-null   object
 20  CPFResponsavel             5273 non-null   int64
 21  EmailResponsavel           5273 non-null   object
 22  TelefoneResponsavel        5273 non-null   object
 23  CelularResponsavel         5273 non-null   object
 24  EnderecoResponsavel        5273 non-null   object
 25  NumeroResponsavel          5268 non-null   object
 26  ComplementoResponsavel     1693 non-null   object
 27  BairroResponsavel          5272 non-null   object
 28  CidadeResponsavel          5273 non-null   object
 29  UFResponsavel              5273 non-null   object
 30  CEPResponsavel             5273 non-null   int64
 31  NomeResponsavelConcurso    5273 non-null   object
 32  EmailResponsavelConcurso   5273 non-null   object
 33  LoginEscola                5273 non-null   object
 34  PacoteInscricao            5273 non-null   int64
 35  StatusInscricao            5273 non-null   int64
 36  DataCriacaoInscricao       5273 non-null   bool
 37  Unnamed: 37                5273 non-null   object
 38  Unnamed: 38                5273 non-null   bool
dtypes: bool(2), float64(2), int64(10), object(25)
memory usage: 1.5+ MB

In [ ]:
series['CNPJ'].value_counts()

42498733000148    16
4312419000130     16
30754400000153    10
30128782000100     7
76416965000121     7
                  ..
12711579000180     1
3773834000209      1
12675714000189     1
1750803000126      1
7782840000100      1
Name: CNPJ, Length: 4648, dtype: int64

In [ ]:
series['TipoEscola'].value_counts()

2    3498
1    1775
Name: TipoEscola, dtype: int64

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
series = pd.read_excel('/content/drive/MyDrive/ArquivosColab/2023.xlsx')

In [ ]:
series = series.assign(BR = '55')

In [ ]:
series.head()

,IDInscricao,IDEscola,TipoEscola,CodigoMEC,Nome,CNPJ,InscricaoEstadual,Endereco,Numero,Complemento,...,CEPResponsavel,NomeResponsavelConcurso,EmailResponsavelConcurso,LoginEscola,PacoteInscricao,StatusInscricao,DataCriacaoInscricao,Unnamed: 37,Unnamed: 38,BR
0,14833,4,2,23245980,Colégio Antares - Papicu,7250616000240,NaN,Rua Prof. Ocelo Pinheiro,101,NaN,...,60181235,Carlos Eurico Ribeiro Rodolpho,carloseurico2011@hotmail.com,COL. ANTARES - PAPICU,1,2,False,24/01/2023,False,55
1,15411,6,2,23564130,Alegria Do Saber Centro De Educacao Infantil E...,13207350000175,NaN,Rua 7 de Setembro,425,000,...,62570000,Benedita Vangésia Alves,bvangesia@hotmail.com,ceiam@live.com,1,2,False,06/02/2023,False,55
2,17568,7,1,33062706,Colégio Pedro Ii Campus Centro,42414284000706,NaN,Avenida Marechal Floriano,80,NaN,...,20080001,Anderson Reis De Vargas,anderson.vargas.1@cp2.edu.br,CP2CENTRO,1,2,False,26/02/2023,False,55
3,14297,8,2,23025255,Colégio Luciano Feijão,9533217000212,NaN,AVENIDA DOM JOSÉ,325,NaN,...,62010290,Francisco Sérgio Vasconcelos,olimpiadasclf@gmail.com,PROF. SÉRGIO VASCONCELOS,1,2,False,21/12/2022,False,55
4,15363,11,2,35108339,Colégio Santa Mônica,52566411000142,NaN,Rua São João,141,NaN,...,8780170,Ana Paula Almeida,paulinha@colegiostamonica.com.br,Nanci,1,2,False,06/02/2023,False,55

In [ ]:
series.to_excel('/content/drive/MyDrive/ArquivosColab/2023_atualizado.xlsx', index=False)