In [1]:
# dados
dicionario_geral = {'nomes': ['João', 'José', 'Fernando', 'Rafaela', 'Kleber', 'Laercio', 'Carlos','Paula','Adriana','Walkyria','Guilherme','Gustavo','Gabriel', 'Mayara', 'Ana', 'Daniela', 'Rafael', 'Daiane', 'Maria', 'Mateus', 'Monique', 'Brian', 'Henrique', 'Alberto', 'Mônica', 'Bruce', 'Simone'],
'notas': [8,7,6,9,3,8,7,5,9,1,4,5,8,4,9,7,5,6,2,7,4,5,8,7,9,10,5],
'idades': [25,17,56,32,27,31,48,24,41,50,29,22,30,31,28,52,27,33,35,36,38,26,29,35,38,41,46],
'estados': ['PR','SP','SP','MG','RJ','MG','PB','AM','SC','MS','SP','MG','AM','RO','MG','BA','MG','ES','CE','MG','PA','PI','PE','MG','RR','MG','SE']}

In [2]:
import pandas as pd

In [3]:
dataframe = pd.DataFrame(dicionario_geral)

In [7]:
dataframe.head()

      nomes  notas  idades  uf
0      João      8      25  PR
1      José      7      17  SP
2  Fernando      6      56  SP
3   Rafaela      9      32  MG
4    Kleber      3      27  RJ

In [5]:
dataframe.columns

Index(['nomes', 'notas', 'idades', 'estados'], dtype='object')

In [6]:
dataframe.rename(columns = {'estados': 'uf'}, inplace=True)

In [ ]:
dataframe.shape

(27, 4)

In [ ]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nomes   27 non-null     object
 1   notas   27 non-null     int64
 2   idades  27 non-null     int64
 3   uf      27 non-null     object
dtypes: int64(2), object(2)
memory usage: 992.0+ bytes

In [ ]:
dataframe.values

array([['João', 8.0, 25, 'PR'],
       ['José', 7.0, 17, 'SP'],
       ['Fernando', 6.0, 56, 'SP'],
       ['Rafaela', 9.0, 32, 'MG'],
       ['Kleber', 3.0, 27, 'RJ'],
       ['Laercio', 8.0, 31, 'MG'],
       ['Carlos', 7.0, 48, 'PB'],
       ['Paula', 5.0, 24, 'AM'],
       ['Adriana', 9.0, 41, 'SC'],
       ['Walkyria', 1.0, 50, 'MS'],
       ['Guilherme', 4.0, 29, 'SP'],
       ['Gustavo', 5.0, 22, 'MG'],
       ['Gabriel', 8.0, 30, 'AM'],
       ['Mayara', 4.0, 31, 'RO'],
       ['Ana', 9.0, 28, 'MG'],
       ['Daniela', 7.0, 52, 'BA'],
       ['Rafael', 5.0, 27, 'MG'],
       ['Daiane', 6.0, 33, 'ES'],
       ['Maria', 2.0, 35, 'CE'],
       ['Mateus', 7.0, 36, 'MG'],
       ['Monique', 4.0, 38, 'PA'],
       ['Brian', 5.0, 26, 'PI'],
       ['Henrique', 8.0, 29, 'PE'],
       ['Alberto', 7.0, 35, 'MG'],
       ['Mônica', 9.0, 38, 'RR'],
       ['Bruce', 10.0, 41, 'MG'],
       ['Simone', 5.0, 46, 'SE']], dtype=object)

In [ ]:
dataframe.rename(index={0: 'a', 1: 'b', 3: 'c'})

        nomes  notas  idades  uf
a        João      8      25  PR
b        José      7      17  SP
2    Fernando      6      56  SP
c     Rafaela      9      32  MG
4      Kleber      3      27  RJ
5     Laercio      8      31  MG
6      Carlos      7      48  PB
7       Paula      5      24  AM
8     Adriana      9      41  SC
9    Walkyria      1      50  MS
10  Guilherme      4      29  SP
11    Gustavo      5      22  MG
12    Gabriel      8      30  AM
13     Mayara      4      31  RO
14        Ana      9      28  MG
15    Daniela      7      52  BA
16     Rafael      5      27  MG
17     Daiane      6      33  ES
18      Maria      2      35  CE
19     Mateus      7      36  MG
20    Monique      4      38  PA
21      Brian      5      26  PI
22   Henrique      8      29  PE
23    Alberto      7      35  MG
24     Mônica      9      38  RR
25      Bruce     10      41  MG
26     Simone      5      46  SE

In [ ]:
dataframe.reset_index(inplace=True, drop=True)

In [ ]:
dataframe.head()

      nomes  notas  idades  uf
0      João      8      25  PR
1      José      7      17  SP
2  Fernando      6      56  SP
3   Rafaela      9      32  MG
4    Kleber      3      27  RJ

In [ ]:
dataframe['notas'] = dataframe['notas'].astype(float)

In [ ]:
dataframe['uf'].value_counts()

MG    8
SP    3
AM    2
PR    1
ES    1
RR    1
PE    1
PI    1
PA    1
CE    1
RO    1
BA    1
MS    1
SC    1
PB    1
RJ    1
SE    1
Name: uf, dtype: int64

In [ ]:
dataframe = dataframe.assign(resultado='-')

#['sobrenome'] = ['Silva', 'Guimarães']

In [ ]:
if dataframe['notas'] > 6.0:
    dataframe = dataframe.assign(resultado='Aprovado')
else:
  dataframe = dataframe.assign(resultado='Reprovado')

In [ ]:
dataframe.drop(['index'], inplace=True, axis=1)

In [ ]:
dataframe.drop([0,1], inplace=True, axis=0)

In [ ]:
dataframe.reset_index(inplace=True, drop=True)

In [ ]:
dataframe.head()

     nomes  notas  idades  uf resultado
0   Kleber    3.0      27  RJ         -
1  Laercio    8.0      31  MG         -
2   Carlos    7.0      48  PB         -
3    Paula    5.0      24  AM         -
4  Adriana    9.0      41  SC         -