In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

dataframe = pd.read_csv('/content/drive/MyDrive/ArquivosColab/titles.csv')

Mounted at /content/drive

Tabulaçao Cruzada

In [3]:
pd.crosstab(dataframe.production_countries, dataframe.type)

type                  MOVIE  SHOW
production_countries
['CA']                   57    46
['ES']                   94    65
['FR']                   71    53
['GB']                   91   128
['IN']                  562    43
['JP']                  100   166
['KR']                   45   165
['US']                 1206   744

Gerar Total

In [4]:
pd.crosstab(dataframe.production_countries, dataframe.type, margins=True)

type                  MOVIE  SHOW   All
production_countries
['CA']                   57    46   103
['ES']                   94    65   159
['FR']                   71    53   124
['GB']                   91   128   219
['IN']                  562    43   605
['JP']                  100   166   266
['KR']                   45   165   210
['US']                 1206   744  1950
All                    2226  1410  3636

Proporções

In [10]:
pd.crosstab(dataframe.production_countries, dataframe.type, margins=True, normalize='columns')*100

type                      MOVIE       SHOW         All
production_countries
['CA']                 1.567657   1.265127    2.832783
['ES']                 2.585259   1.787679    4.372937
['FR']                 1.952695   1.457646    3.410341
['GB']                 2.502750   3.520352    6.023102
['IN']                15.456546   1.182618   16.639164
['JP']                 2.750275   4.565457    7.315732
['KR']                 1.237624   4.537954    5.775578
['US']                33.168317  20.462046   53.630363
All                   61.221122  38.778878  100.000000

Inserir Terceira variável

In [16]:
pd.crosstab(dataframe.production_countries, [dataframe.type, dataframe.imdb_score.round(0)], margins=True, normalize='columns')*100

type                      MOVIE                                         \
imdb_score                  2.0        3.0   4.0        5.0        6.0
production_countries
['CA']                 0.000000   0.000000   2.0   4.868914   2.642559
['ES']                 0.000000   0.000000   3.0   5.243446   5.841446
['FR']                 0.000000   3.703704   3.0   5.992509   4.172462
['GB']                 0.000000   3.703704   1.0   2.247191   4.450626
['IN']                55.555556  48.148148  34.0  27.340824  19.471488
['JP']                 0.000000   0.000000   0.0   0.749064   3.894298
['KR']                 0.000000   0.000000   2.0   1.123596   2.503477
['US']                44.444444  44.444444  55.0  52.434457  57.023644

type                                                   SHOW                   \
imdb_score                  7.0        8.0        9.0   2.0   3.0        4.0
production_countries
['CA']                 1.748808   1.048951   7.692308   0.0  25.0   7.692308
['ES']                 3.656598   2.447552   0.000000   0.0   0.0   7.692308
['FR']                 2.066773   1.048951   0.000000  25.0   0.0   0.000000
['GB']                 4.769475   4.545455   7.692308   0.0   0.0  11.538462
['IN']                23.370429  40.209790  46.153846   0.0   0.0  15.384615
['JP']                 6.995231   5.244755   0.000000  25.0   0.0   3.846154
['KR']                 2.543720   0.699301   0.000000  25.0   0.0   3.846154
['US']                54.848967  44.755245  38.461538  25.0  75.0  50.000000

type                                                                         \
imdb_score                  5.0        6.0        7.0        8.0        9.0
production_countries
['CA']                 1.470588   2.811245   3.340757   3.125000   3.076923
['ES']                 4.411765   7.630522   6.013363   2.455357   0.000000
['FR']                 1.470588   5.622490   4.677060   3.125000   0.000000
['GB']                 5.882353   6.425703  10.022272   8.705357  18.461538
['IN']                 8.823529   1.606426   2.449889   1.785714   7.692308
['JP']                 5.882353  10.843373  11.135857  14.062500  13.846154
['KR']                 2.941176   4.417671   9.354120  16.517857  16.923077
['US']                69.117647  60.642570  53.006682  50.223214  40.000000

type                               All
imdb_score             10.0
production_countries
['CA']                  0.0   2.705113
['ES']                  0.0   4.488704
['FR']                  0.0   3.478002
['GB']                  0.0   6.034483
['IN']                  0.0  16.973841
['JP']                  0.0   7.253270
['KR']                  0.0   5.439952
['US']                100.0  53.626635

Inserir Médias na Tabulação Cruzada

In [19]:
import numpy as np

pd.crosstab(dataframe.production_countries, dataframe.type, values= dataframe.runtime, aggfunc = np.average, margins=True)

type                       MOVIE       SHOW         All
production_countries
['CA']                 82.421053  29.652174   58.854369
['ES']                 99.914894  43.707692   76.937107
['FR']                 92.732394  36.415094   68.661290
['GB']                 86.186813  40.078125   59.237443
['IN']                132.685053  37.883721  125.947107
['JP']                104.070000  27.307229   56.165414
['KR']                110.355556  56.727273   68.219048
['US']                 86.957711  36.321237   67.637949
All                   100.327942  38.163121   76.221122