In [1]:
import pandas as pd

In [5]:
base = {
        'Fiat': ['Palio', 'Uno', '147', 'Argos'],
        'Chevrolet': ['Kadet', 'Celta', 'Meriva', 'Onix'],
        'VolksWagen': ['Gol', 'Saveiro', 'T-Cross', 'Virtus'],
        'Ford': ['Ka', 'Fiesta', 'Focus', 'EcoSport']
     
    }

In [6]:
dataframe = pd.DataFrame(base)

In [7]:
dataframe.head()

    Fiat Chevrolet VolksWagen      Ford
0  Palio     Kadet        Gol        Ka
1    Uno     Celta    Saveiro    Fiesta
2    147    Meriva    T-Cross     Focus
3  Argos      Onix     Virtus  EcoSport

In [9]:
dataframe.replace('T-Cross', 'Santana', inplace = True)

In [10]:
dataframe.head()

    Fiat Chevrolet VolksWagen      Ford
0  Palio     Kadet        Gol        Ka
1    Uno     Celta    Saveiro    Fiesta
2    147    Meriva    Santana     Focus
3  Argos      Onix     Virtus  EcoSport

In [11]:
dataframe.replace(['Santana', 'Virtus', 'Saveiro'], 'T-Cross')

    Fiat Chevrolet VolksWagen      Ford
0  Palio     Kadet        Gol        Ka
1    Uno     Celta    T-Cross    Fiesta
2    147    Meriva    T-Cross     Focus
3  Argos      Onix    T-Cross  EcoSport

In [13]:
dataframe['Fiat'].replace('147', 'Bravo', inplace = True)

In [14]:
dataframe.head()

    Fiat Chevrolet VolksWagen      Ford
0  Palio     Kadet        Gol        Ka
1    Uno     Celta    Saveiro    Fiesta
2  Bravo    Meriva    Santana     Focus
3  Argos      Onix     Virtus  EcoSport

In [16]:
dataframe['Fiat'] = dataframe['Fiat'].replace('Bravo', 'Punto')

In [17]:
dataframe.head()

    Fiat Chevrolet VolksWagen      Ford
0  Palio     Kadet        Gol        Ka
1    Uno     Celta    Saveiro    Fiesta
2  Punto    Meriva    Santana     Focus
3  Argos      Onix     Virtus  EcoSport

In [18]:
dataframe['Chevrolet'].replace({'Meriva': 'Prisma', 'Kadet': 'Corsa'}, inplace = True)

In [19]:
dataframe.head()

    Fiat Chevrolet VolksWagen      Ford
0  Palio     Corsa        Gol        Ka
1    Uno     Celta    Saveiro    Fiesta
2  Punto    Prisma    Santana     Focus
3  Argos      Onix     Virtus  EcoSport